label{
    display: inline-block;
    width: 12%;
}
body{
	background-image: url("https://ic.pics.livejournal.com/ladyofjest/27051351/26850/26850_original.jpg");
	color: white;;
	font-size: 15px;
}
#principal{
	width: 90%;
}
.opciones{
	font-size: 25px;
}
